
   body {
    background: url("../images/CodeGorilla_Alex_01.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; 
    }  

/*
#cclogo.left {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
*/

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
  }
  

#firstbox { /* de ' houder' voor de intro-tekst */
height: 30%; width: 70%;
margin: 20px;
padding: 15px;
color: rgb(226, 240, 148);
border-style: solid;
border-width: 10px;
border-color: rgb(82, 78, 116);
border-radius:30px;
box-shadow: 20px 20px 9px rgb(138, 66, 66);
overflow: auto;
background: url("/images/image_01filtered.jpg") no-repeat center center fixed;
background-size: cover;
}


#naam {
    font-weight: bold
}

.onderdelen
{
    position: sticky;
    width: 80%;
    margin: 50px;
    float: left;
    padding:10px;
    font-size: 80%;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(45, 179, 212);
    color: beige;
    font-weight: bold;
    border-style: solid;
    box-shadow: 10px 10px 5px grey;
    border-radius:20px;
    
}

